/asset/ignore
/test_project/C#/obj
*.exe
*.msi
*.rar
*.zip
*.pyc
*.cpython-312.pyc
*.cpython-312
*.db
*.db-shm
*.db-wal
*.sqlite3
.freebuff/
testing/output/
yasb.log
.aider*
TOOLS/.freeform_crop_state.json
