# Set wallpaper using feh
feh --bg-scale "/home/nahid/Pictures/wallpapers/wallpaper1.jpg"

# Date function
dte() {
    dte="$(date +"%A, %B %d - %I:%M")"
    echo -e "🗓️  $dte"
}

# Memory function
mem() {
    mem=$(free | awk '/Mem/ {printf "%d MiB/%d MiB", $3 / 1024.0, $2 / 1024.0 }')
    echo -e "🧠 $mem"
}

# CPU function
cpu() {
    read cpu a b c previdle rest < /proc/stat
    prevtotal=$((a+b+c+previdle))
    sleep 0.5
    read cpu a b c idle rest < /proc/stat
    total=$((a+b+c+idle))
    cpu_usage=$((100 * ((total - prevtotal) - (idle - previdle)) / (total - prevtotal)))
    echo -e "⚙️ $cpu_usage%"
}

# Updates
updates() {
    updates=$(checkupdates | wc -l)
    echo -e "⬇️ $updates"
}

# Loop
while true; do
    # Always update these
    status="$(cpu) | $(mem) | $(dte)"

    # Updates every 10s
    if (( $(date +%s) % 10 == 0 )); then
        updates_info="$(updates)"
    fi

    # Show all
    xsetroot -name "$status | $updates_info"

    sleep 1
done &
