<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/4021/4021539.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="wilih=device-wilih, initial-scale=1">
  <link rel="stylesheet" href="myhome/myhome.css" ;>

</head>

<body>
  <div class="flex-container2">

  <div id="links-container" style="display: flex; width: 100%; flex-wrap: wrap; justify-content: left;">
  </div>

  <span id="open-add-link-popup" style="cursor: pointer; font-family: jetbrainsmono nfp; font-size: 40px; align-content: center; width: fit-content; height: 60px; display: inline-block; padding: 5px 5px; background-color: #474747; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease; margin: 2px;">+</span>

  <div id="add-link-popup" class="popup-container" style="display: none;">
    <div class="popup-content">
      <span class="close-button">&times;</span>
      <h3>Add New Link</h3>
      <form id="add-link-form" style="display: flex; flex-direction: column; gap: 10px; width: 300px;">
        <input type="text" id="link-name" placeholder="Name" required>
        <input type="text" id="link-group" placeholder="Group (optional)">
        <input type="url" id="link-url" placeholder="URL" required>
        <input type="text" id="link-icon-class" placeholder="Icon Class (e.g., nf nf-cod-mail)">
        <input type="text" id="link-color" placeholder="Color (e.g., #f46613 or red)">
        <input type="url" id="link-img-src" placeholder="Image URL (if no icon)">
        <input type="text" id="link-text" placeholder="Text (if no icon/image)">
        <input type="text" id="link-background-color" placeholder="Background Color">
        <input type="text" id="link-border-radius" placeholder="Border Radius">
        <input type="text" id="link-title" placeholder="Title (for tooltip)">
        <button type="submit">Add Link</button>
      </form>
    </div>
  </div>




  <script src="myhome/links_handler.js"></script>
  <script src="myhome/script.js"></script>


  </div>
</body>

</html>